.productdetail-layout {
    width: 1200px;
    height: 959px;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
    margin-bottom: 1500px;
}

/* */
.product-card {
    width: 1152px;
    height: 441px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}


/* 제품 사진 */
.product-image-block {
    position: relative;
    display: inline-flex;
}

.product-image {
    width: 450px;
    height: 437px;
    border-radius: 16px;
}

/**/
 

/* 제품 이미지 상단부 */
.product-image-block-top {
    width: 450px;
    height: 96px;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-start;
    display: inline-flex;
    position: absolute;
}

.product-image-block-top-button1,
.product-image-block-top-button2 {
    width: 48px;
    height: 48px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    overflow: hidden;
    backdrop-filter: blur(8px);
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
}

.img-left,
.img-share {
    width: 24px;
    height: 24px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4.01px;
    padding-bottom: 4.01px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    background: none;
}

/**/





.product-info-block {
    width: 678px;
    height: 441px;
    padding-top: 24px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}


/* 카테고리, 상품명, 상품가격*/
.heading {
    width: 678px;
    height: 60px;
    justify-content: space-between;
    align-items: flex-end;
    display: inline-flex;
}

.product-category-and-name {
    width: 76px;
    height: 60px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
}

.category-name {
    color: #969696;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.product-name {
    color: black;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

.product-price {
    color: black;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

/**/




.product-info-middle-container {
    width: 678px;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
}


/* Star 수, 리뷰 수*/
.review-star-container {
    width: 292px;
    height: 85px;
    padding: 16px;
    background: #F2F2F2;
    border-radius: 16px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: inline-flex;
}

.rating-and-review-block {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.rating-container {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.star-container {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.star-1,
.star-2,
.star-3,
.star-4,
.star-5 {
    width: 24px;
    height: 24px;
    padding: 2.35px 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: none;
}


.rating-number {
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.review-number-container {
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.review-number {
    text-align: right;
    color: #969696;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

.review-number-arrow {
    width: 14px;
    height: 14px;
    padding: 2.32px 1.75px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #969696;
    background: none;
}

.avatars {
    width: 92px;
    height: 32px;
    position: relative;
}

.avatars img {
    width: 32px;
    height: 32px;
    position: absolute;
    background: linear-gradient(0deg, white 0%, white 100%);
    border-radius: 9999px;
    border: 2px #F2F2F2 solid;
}

.Unsplash6rruaqtwt60 {
    left: 20px;
}

.UnsplashNsze2hlxozo {
    left: 40px;
}

.UnsplashF8iuhoidtbi {
    left: 60px;
}

/**/


/* 주문하기 버튼 */
.order-button {
    width: 147px;
    height: 48px;
    padding: 12px;
    background: rgba(227, 150, 74, 0.24);
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 8px;
    display: inline-flex;
    text-align: center;
    color: #E3964A;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    border: none;
}

.odrer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }
  
  .order-modal-content {
    font-family:Poppins;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10000; 
  }




/**/


.product-info-lower-container {
    width: 678px;
    height: 224px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}


/* 상품 설명 하단부 */
.tab-buttons {
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}

.tab-buttons-text {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 1000px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    display: flex;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
    border: none;
}

.Description {
    background: rgba(227, 150, 74, 0.24);
    color: #E3964A;
}

.Materials,
.CareInstructions {
    background: none;
    color: #969696;
}

.tab-content {
    align-self: stretch;
    color: black;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    word-wrap: break-word;
}

/**/


.similar-products {
    width: 1152px;
    height: 446px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    display: inline-flex;
}

/* 유사 제품 헤더*/
.similar-products-header {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.similar-products-title {
    color: black;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 600;
    word-wrap: break-word;
}

/**/


.similar-products-card-container {
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    display: inline-flex;
}




/* 3D 렌더링*/

.popup-overlay {
    margin-left:auto;
    margin-right:auto;
  }
