.custom-card {
  width: 285px;
  height: 446px;
  position: relative;
}

.image-container {
  width: 100%;
  height: 301px;
  position: absolute;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.content-container {
  width: 100%;
  height: 145px;
  position: absolute;
  bottom: 0;
  background: #F4F5F7;
  padding: 16px;
}

.product-category-container {
  width: 200px;
  height: 61px;
  position: relative;
  margin-bottom: 16px;
  /* 간격 추가 */
}

.product-name {
  color: #3A3A3A;
  font-size: 24px;
  font-family: Gilroy;
  font-weight: 600;
  line-height: 28.80px;
  word-wrap: break-word;
  text-align: left;
  width: 200px;
}

.category {
  color: #898989;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 500;
  line-height: 24px;
  word-wrap: break-word;
  text-align: left;
}

.price {
  width: 238px;
  height: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.original-price {
  color: #B0B0B0;
  font-size: 16px;
  font-family: Gilroy;
  font-weight: 400;
  text-decoration: line-through;
  line-height: 24px;
  word-wrap: break-word;
}

.discounted-price {
  color: #3A3A3A;
  font-size: 20px;
  font-family: Gilroy;
  font-weight: 600;
  line-height: 30px;
  word-wrap: break-word;
}

.discount-badge {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 24px;
  right: 0;
  background: #E97171;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
}